<p id="notice"><%= notice %></p>

<h1>Kluby</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Miasto</th>
      <th>Pozycja</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @klubs.each do |klub| %>
      <tr>
        <td><%= klub.name %></td>
        <td><%= klub.city %></td>
        <td><%= klub.position %></td>
        <td><%= link_to 'Pokaż', klub %></td>
        <td><%= link_to 'Edytuj', edit_klub_path(klub) %></td>
        <td><%= link_to 'Usuń', klub, method: :delete, data: { confirm: 'Jesteś tego pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy klub', new_klub_path %>
